@model BoardGameShopMVC.ViewModels.HomeViewModel
@using BoardGameShopMVC.Infrastructure
@{
    ViewBag.Title = "BoardGameShop!";
}

<nav class="category-horizontal">
    <ul>

        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="@Url.Action("List", "Store", new { genrename = category.Name.ToLower() })" style="background-image: url(@Url.CategoryIconPath(category.IconFileName));">
                    @category.Name
                </a>
            </li>
        }

    </ul>
    <a href="">
        <img id="baner-main" src="../../Content/Images/baner-main.png" />
    </a>
</nav>

<section>
    <ul class="ThreeColumnsList large-game-list">
        <li>
            <article>
                <a class="addToCartLink" href="../../Prototype/aaaa">
                    <img src="../../Content/Images/cart.png" />
                </a>
                <a class="productDetailsLink" href="../../Prototype/asd">
                    <div class="newFlag"></div>
                    <img class="game" src="../../Content/games/7wonders.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addToCartLink" href="../../Prototype/aaaa">
                    <img src="../../Content/Images/cart.png" />
                </a>
                <a class="productDetailsLink" href="../../Prototype/asd">
                    <div class="newFlag"></div>
                    <img class="game" src="../../Content/games/fiveTribes.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addToCartLink" href="../../Prototype/aaaa">
                    <img src="../../Content/Images/cart.png" />
                </a>
                <a class="productDetailsLink" href="../../Prototype/asd">
                    <div class="newFlag"></div>
                    <img class="game" src="../../Content/games/mansionsOfMadness.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
    </ul>
</section>

<section>
    <ul class="ThreeColumnsList large-game-list">
        <li>
            <article>
                <a class="addToCartLink" href="../../Prototype/aaaa">
                    <img src="../../Content/Images/cart.png" />
                </a>
                <a class="productDetailsLink" href="../../Prototype/asd">
                    <div class="bestsellerFlag"></div>
                    <img class="game" src="../../Content/games/bloodRage.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addToCartLink" href="../../Prototype/aaaa">
                    <img src="../../Content/Images/cart.png" />
                </a>
                <a class="productDetailsLink" href="../../Prototype/asd">
                    <div class="bestsellerFlag"></div>
                    <img class="game" src="../../Content/games/eldritchHorror.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addToCartLink" href="../../Prototype/aaaa">
                    <img src="../../Content/Images/cart.png" />
                </a>
                <a class="productDetailsLink" href="../../Prototype/asd">
                    <div class="bestsellerFlag"></div>
                    <img class="game" src="../../Content/games/smallworld.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
    </ul>
</section>

